---
import Credit from "./Credit.astro";
---

<!--==============================
  IMAGES
 ==============================-->
 <!-- washington -->
<section class="images-two snap" data-logo="dark" data-contact="dark">
  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="washington_aerial"
      class="img-lazy"
      alt="Aerial photorealistic exterior 3D Rendering of a modern multifunctional complex in an urban context in Washington. Still CG image produced by Scuares, an architectural visualization studio"
    />
    <Credit
      author="Partnership with Pictury"
      project="Multifunctional Building"
    />
  </div>
  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="washington_street"
      class="img-lazy img-cover img-square"
      alt="Photorealistic exterior 3D Rendering of a modern multifunctional complex in an urban context in Washington. View from a human eye level. Still CG image produced by Scuares, an architectural visualization studio"
    />
    <Credit
      hidden={true}
      author="Partnership with Pictury"
      project="Multifunctional Building"
    />
  </div>
</section>

<!-- bedroom - dining -->
<section class="images-two snap" data-logo="light" data-contact="dark">
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="bedroom"
      class="img-lazy"
      alt="Photorealistic interior 3D Rendering of a modern dining room in an apartment in Berlin, designed by JM Designs. Mix of contemporary furniture with classical architecture. Real Estate residential project. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="JM Designs" project="Apartment in Berlin" />
  </div>
  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="dining"
      class="img-lazy"
      alt="Photorealistic interior 3D Rendering of a modern bedroom in an apartment in Berlin, designed by JM Designs. Mix of contemporary furniture with classical architecture.Real Estate residential project. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit hidden={true} author="JM Designs" project="Apartment in Berlin" />
  </div>
</section>

<!-- puglia -->
<section class="images-one snap" data-logo="light" data-contact="light">
  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="puglia"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern house in a beautiful landscape in Puglia designed by Bergnes de las Casas Arquitectos. Contemporary facade design with concrete and wood. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Bergnes de las Casas" project="Villa in Puglia" />
  </div>
</section>

<!-- walkeweg -->
<section class="images-two snap" data-logo="dark" data-contact="dark">
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="walkeweg_a"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern housing complex in Walkeweg, designed by Parabase Architects. First prize in an architectural competition. Building made of recycled concrete components. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Parabase" project="Areal Walkeweg Nord Basel" />
  </div>

  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="walkeweg_b"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern housing complex in Walkeweg, designed by Parabase Architects. First prize in an architectural competition. Building made of recycled concrete components. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit hidden={true} author="Parabase" project="Areal Walkeweg Nord Basel" />
  </div>
</section>

<!-- gregor -->
<section class="images-two snap" data-logo="dark" data-contact="light">
  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="gregor_int"
      class="img-lazy"
      alt="Photorealistic interior 3D Rendering of a modern house designed by Gregor Pils Architects. Contemporary interior design with wood and plaster. Building next to vineyards. Real Estate residential project. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Gregor Pils" project="Weinbergloft Houses" />
  </div>
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="gregor_ext"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern house designed by Gregor Pils Architects. Contemporary facade design with wood and plaster. Building next to vineyards. Real Estate residential project.  Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit hidden={true} author="Gregor Pils" project="Weinbergloft Houses" />
  </div>
</section>

<!-- antiparos -->
<section class="images-two snap" data-logo="dark" data-contact="dark">
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="antiparos_b"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern house made of stone in a Greek Island. Luxury villa with sea view and beautiful landscape. Real Estate residential project. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="West Valley" project="Villas in Antiparos" />
  </div>

  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="antiparos_d"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern house made of stone in a Greek Island. Luxury villa with sea view and beautiful landscape. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit hidden={true} author="West Valley" project="Villas in Antiparos" />
  </div>
</section>

<!-- basel -->
<section class="images-two snap" data-logo="light" data-contact="dark">
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="basel_a"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern multifamily housing building made of metal and concrete in Basel designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit hidden={true} author="Parabase" project="Burgfelderstrasse Housing, Basel" />
  </div>

  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="basel_b"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern multifamily housing building made of metal and concrete in Basel designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Parabase" project="Burgfelderstrasse Housing, Basel" />
  </div>
</section>

<!-- ter- williamsburg -->
<section class="images-two snap" data-logo="dark" data-contact="dark">
  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="ter"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern house in a beautiful landscape designed by Mesura Architects. Architectural project with traditional materials and a swimming pool. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Mesura" project="Ter House" />
  </div>
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="williamsburg"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern co-living building in Williamsburg, New York. Architectural project designed by The Collective with a contemporary facade design made of brick. Real Estate project. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="The Collective" project="Hotel in Williamsburg (NY)" />
  </div>
</section>

<!-- codines -->
<section class="images-two snap" data-logo="dark" data-contact="dark">
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="codines_a"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern house made of brick designed by Bergnes de las Casas Architects. Contemporary design building.Residential architecture. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Bergnes de las Casas" project="House in St. F. Codines" />
  </div>

  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="codines_b"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern house made of brick designed by Bergnes de las Casas Architects. Contemporary design building.Residential architecture. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit hidden={true} author="Bergnes de las Casas" project="House in St. F. Codines" />
  </div>
</section>

<!-- lakehouse -->
<section class="images-two snap" data-logo="dark" data-contact="light">
  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="lakehouse_int"
      class="img-lazy"
      alt="Photorealistic interior 3D Rendering of a modern house next to a lake in Texas. Interior Design with wood and fabric. Soft color palette. Contemporary design building. Residential Real Estate project. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Private Client" project="Lakehouse in Texas" />
  </div>
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="lakehouse_ext"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a modern  wooden house next to a lake in Texas. White house made of wood. Traditional american architecture style Beautiful landscape and contemporary design building. Residential Real Estate project. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit hidden={true} author="Private Client" project="Lakehouse in Texas" />
  </div>
</section>

<!-- zurich -->
<section class="images-two snap" data-logo="dark" data-contact="dark">
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="zurich_ext"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a courthouse in Zurich designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Parabase" project="Hinwil Courthouse, Zurich" />
  </div>

  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="zurich_int"
      class="img-lazy"
      alt="Photorealistic interior 3D Rendering of a courthouse in Zurich designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit hidden={true} author="Parabase" project="Hinwil Courthouse, Zurich" />
  </div>
</section>

<!-- pool -->

<section class="images-one snap" data-logo="dark" data-contact="dark">
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="pool"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a contemporary luxury Villa with a swimmig pool designed by JM Designs. Residential real estate project. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="JM Designs" project="N House" />
  </div>
</section>

<!-- doha - offices -->
<section class="images-two snap" data-logo="dark" data-contact="dark">
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="doha"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a park in Doha designed by Yaseen Raad. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Yaseen Raad" project="Conference Street Park (Doha)" />
  </div>

  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="offices"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of an office building in Basel designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Parabase" project="BRCCH Offices, Basel" />
  </div>
</section>

<!-- robotic -->
<section class="images-two snap" data-logo="dark" data-contact="dark">
  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="robot_a"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of robotically fabricated wooden pavilion in a beautiful landscape designed by Josep Alcover. Parametric architecture project. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Josep Alcover" project="Wooden Pavilions" />
  </div>

  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="robot_b"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of robotically fabricated wooden pavilion in a beautiful landscape designed by Josep Alcover. Parametric architecture project. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit hidden={true} author="Josep Alcover" project="Wooden Pavilions" />
  </div>
</section>

<!-- volta -->
<section class="images-two snap" data-logo="dark" data-contact="dark">
  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="volta_a"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a residential building in Volta designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Parabase" project="Stadtbaustein Volta Nord" />
  </div>

  <div class="img-pad">
    <img
      src="/images/pixel.jpg"
      data-src="volta_b"
      class="img-lazy"
      alt="Photorealistic exterior 3D Rendering of a residential building in Volta designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
    />
    <Credit hidden={true} author="Parabase" project="Stadtbaustein Volta Nord" />
  </div>
</section>
